<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your borrowed books</title>
    <link rel="stylesheet" href="try.css">
</head>

<body>

   <div class="mainPage">

     <div class="backLink" id="backLink">
        <a href="/login/browse_kunde">&larr;</a>
    </div>

    <h1>Books</h1>

    <h2>Your borrowed books</h2>

    <div class="borrowedBOOKS">

        <table>

            <tr class="Titles">
                <th>Books you've borrowed:</th>
                <th>Author name:</th>
                <th>Date of order:</th>
            </tr>

                <tr class="borrowedUser">
                    <td>Book 1</td>
                    <td>Some guy</td>
                    <td>1/2/26</td>
                </tr>
            


        </table>
    </div>

   </div>



</body>

</html>