<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="try.css">
</head>

<body>

    <div class="homepageLIB">

        <h1>Homepage librarian (admin) - Welcome back!</h1>

        <h2>Books in the library:</h2>

        <table>

            <tr class="libTitles">
                <th>Book name</th>
                <th>Author</th>
            </tr>


            <tr class="lib_books">
                <td>MURDERDRONES</td>
                <td>yayayay</td>
            </tr>


        </table>

        <br>
        <br>

        <div class="LIB_links">

            <div class="bookO">
                <a href="/login/homepage_lib/overview_lib">Book orders</a>
            </div>

            <div class="bookN">
                <a href="/login/homepage_lib/add_books_lib">Register new books</a>
            </div>
            
        </div>

    </div>

</body>

</html