<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your borrowed books</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <a href="/login/browse_kunde">&larr;</a>
    
        <h1>Books</h1>

        <h3>Your borrowed books
        </h3>

        <table>

            <tr>
                <th>Books you've borrowed:</th>
                <th>Author name:</th>
                <th>Date of order:</th>
            </tr>

            {% for c in borrowed_books %}
            <tr>
                <td>{{ c[0] }}</td>
                <td>{{ c[1] }}</td>
                <td>{{ c[2] }}</td>
            </tr>

            {% endfor %}

        </table>

        
    
</body>
</html>