<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find books</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Browse books to borrow</h1>

    <h2>Logged in as, {{ session['epost'] }}</h2>

        <table>

            <tr>
            <th>Book name</th>
            <th>Author</th>
        </tr>

        {% for c in boker %}
        <tr>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>
            <td>
                <a href="{{ url_for('borrow_book', bok_id=c[0]) }}"
                onclick="return confirm('Borrow this book? {{ c[1] }} by {{ c[2] }} ?');">Borrow book</a>
            </td>
        </tr>
        {% endfor %}

        </table>
    
        <p>
            <a href="/login/browse_kunde/borrowed_kunde">See your borrowed books here.</a>
        </p>
</body>
</html>