<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find books</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Browse books to borrow</h1>

    <p>(add books here to click to borrow, alert
        "do you want to borrow [name of book by author]"
        and then added to list of your borrowed books)</p>

        <table>

            <tr>
            <th>Book name</th>
            <th>Author</th>
        </tr>

        {% for c in boker %}
        <tr>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>
            <td>
                <a href="{{ url_for('borrow_book', bok_id=c[0]) }}"
                onclick="return confirm('Borrow this book? {{ c[1] }} by {{ c[2] }} ?');">Borrow book</a>
            </td>
        </tr>
        {% endfor %}

        </table>
    
</body>
</html>