<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit customer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h2>Edit customer information</h2>

    
    <form method="POST" action="{{ url_for('edit_kunde') }}">

        <label for="fornavn">First name:</label><br>
        <input type="name" id="fornavn" name="fornavn" ><br><br>

        <label for="etternavn">Last name:</label><br>
        <input type="name" id="etternavn" name="etternavn" ><br><br>

        <label for="epost">E-mail:</label><br>
        <input type="email" id="epost" name="epost" ><br><br>

        <label for="tlf">Phone Number:</label><br>
        <input type="number" id="tlf" name="telefonnummer" ><br><br>

        <button type="submit">Update user</button>
    </form>
    
</body>
</html>