<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Frequently asked Questions:</h1>
    <br>
    <div class="questions">
        {% for q in sporsmal %}

        <h3>{{ q[2] }}</h3>

        {% endfor %}

    </div>
    <br>

    <div class="awnsers">
        <p>1) You can borrow a book by pressing the "Borrow Book" button beside the book</p>
        <p>2) You can return a book by going to your "borrowed books" page and clicking "Return Book".</p>
        <p>3) You can request to have your account deleted by emailing us at 'library@notascam.com'.</p>
        <p>4) You can contact us on 'library@notascam.com'.</p>
        <p>5) Your personal data is stored safely in a database with limited access,
            passwords are securely hashed and private,
            and all your personal records and data will be removed upon delete of an account</p>
    </div>

    <h3>Har du noen andre spørsmål? Send de inn her:</h3>
    <form action="POST" action="{{ url_for('faq_kunde') }}">
        <label for="new_q">Ditt spørsmål:</label>
        <input type="text" id="new_q" name="new_q" placeholder="Hvordan finner jeg...">

        <button type="submit">Send inn</button>
    </form>

</body>

</html>