<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Frequently asked Questions:</h1>

         
            {% for q in sporsmal %}

            <h3>{{ sporsmal [0] }}</h3>
            <p>svar</p>
            <br>
            <h3>{{ sporsmal [1] }}</h3>
            <p>svar</p>
            <br>
            <h3>{{ sporsmal [2] }}</h3>
            <p>svar</p>
            <br>
            <h3>{{ sporsmal [3] }}</h3>
            <p>svar</p>
            <br>
            <h3>{{ sporsmal [4] }}</h3>
            <p>svar</p>
         
            {% endfor %}


       
    
</body>
</html>