<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowed books (librarian)</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a href="/login/homepage_lib">&larr;</a>
    
    <h1>Customers and what they've borrowed</h1>
    <h2>Librarian page</h2>

    <table>
        <tr>
            <th>Book</th>
            <th>Borrowed by</th>
            <th>Time of order</th>
        </tr>
        {% for c in bestilling %}
        <tr>
            <td>{{c[0]}}</td>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>

        </tr>
        {% endfor %}


    </table>





</body>

</html>